@*    
    ************************************
    Billing view for Aadmin Users
    With a mock Invoicing functionality
    Part of Future Work
    ************************************
*@
@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h2 class="display-4">This is The Admin Page</h2>
    <p>This page is part of "future work".</p>
    <p>It will give the company administrator (admin) billing functionality.</p>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-8">
        <h2>Invoice</h2>
     </div>
    <div class="col-lg-4">
        <div class="title-action">
            <a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
            <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
            <a href="#" class="btn btn-primary"><i class="fa fa-print"></i> Print Invoice </a>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox-content p-xl">
        <div class="row">
            <div class="col-sm-6">
                <h5>From:</h5>
                <address>
                    <strong>Holiday Tracker</strong><br>
                    123 O'Connell Street<br>
                    Dublin, Ireland<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
            </div>

            <div class="col-sm-6 text-right">
                <h4>Invoice No.</h4>
                <h4 class="text-navy">INV-000567F7-00</h4>
                <span>To:</span>
                <address>
                    <strong>Client Company</strong><br>
                    789 Weird Street<br>
                    Knowhere<br>
                    <abbr title="Phone">P:</abbr> (321) 987-456
                </address>
                <p>
                    <span><strong>Invoice Date:</strong> 16 April 2020</span><br />
                    <span><strong>Due Date:</strong> 22 April 2020</span>
                </p>
            </div>
        </div>

        <div class="table-responsive m-t">
            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>Item List</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Tax</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><strong>Something Very Important</strong></div>
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                        </td>
                        <td>1</td>
                        <td>€26.00</td>
                        <td>€5.98</td>
                        <td>€31,98</td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>Something Even More Important</strong></div>
                            <small>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </small>
                        </td>
                        <td>2</td>
                        <td>€80.00</td>
                        <td>€36.80</td>
                        <td>€196.80</td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>The Most Expensive Item So Probably The Most Important</strong></div>
                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</small>
                        </td>
                        <td>3</td>
                        <td>€420.00</td>
                        <td>€193.20</td>
                        <td>€1453.20</td>
                    </tr>

                </tbody>
            </table>
        </div><!-- /table-responsive -->

        <table class="table invoice-total">
            <tbody>
                <tr>
                    <td><strong>Sub Total :</strong></td>
                    <td>€1446.00</td>
                </tr>
                <tr>
                    <td><strong>TAX :</strong></td>
                    <td>€235.98</td>
                </tr>
                <tr>
                    <td><strong>TOTAL :</strong></td>
                    <td>€1681.98</td>
                </tr>
            </tbody>
        </table>
        <div class="text-right">
            <button class="btn btn-primary"><i class="fa fa-euro"></i> Make A Payment</button>
        </div>

        <div class="well m-t">
            <strong>Comments</strong>
            This page is not functional. It is only a placeholder for functionality as part of "Future Work".
        </div>
    </div>
</div>

