
@{
    ViewData["Title"] = "Billing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h2 class="display-4">This is The Admin Page</h2>
        <p>This page is part of "future work".</p>
        <p>It will give the company administrator (admin) billing functionality.</p>
    </div>

