<div class="footer">
    <div class="float-right">
        TECHNOLOGICAL UNIVERSITY DUBLIN
    </div>
    <div>
        &copy; 2020 - HolidayTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>
