<div class="footer">
    <div class="float-right">
        TECHNOLOGICAL UNIVERSITY DUBLIN
    </div>
    <div>
        &copy; <span id="year"></span> - HolidayTracker - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</div>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
