<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/Images/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">David Williams</span>
                        <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs" style="position: absolute; top: 91px; left: 0px; will-change: top, left;">
                        <li><a class="dropdown-item" href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="@Url.Action("Login", "Pages")">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    HT
                </div>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <li class="nav-item">
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
            </li>
            <li class="nav-item">
                @*@if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Employee"))
                    {*@
                        <a asp-area="" asp-controller="Home" asp-action="Dashboard">Dashboard</a>
                    @*}

                }*@
            </li>
            <li class="nav-item">
                @*@if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Approver"))
                    {*@
                        <a asp-area="" asp-controller="Approver" asp-action="Index">Requests</a>
                    @*}

                }*@
            </li>
            <li class="nav-item">
                @*@if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Admin"))
                    {*@
                        <a asp-area="" asp-controller="Admin" asp-action="Index">Billing</a>
                    @*}

                }*@
            </li>
            <li class="nav-item dropdown">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Company Settings</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

                    <li class="nav-link"><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>

                    <li class="nav-link"><a asp-area="" asp-controller="Department" asp-action="Index">Departments</a></li>

                    <li class="nav-link"><a asp-area="" asp-controller="Location" asp-action="Index">Location</a></li>

                    <li class="nav-link"><a asp-area="" asp-controller="Gender" asp-action="Index">Genders</a></li>

                    <li class="nav-link"><a asp-area="" asp-controller="RequestType" asp-action="Index">Request Type</a></li>

                    <li class="nav-link"><a asp-area="" asp-controller="Allowance" asp-action="Index">Allowance</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>