@*@page
@model HolidayTracker.Views.Requests.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Request</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Request.CompanyId" class="control-label"></label>
                <input asp-for="Request.CompanyId" class="form-control" />
                <span asp-validation-for="Request.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.RequestTypeId" class="control-label"></label>
                <input asp-for="Request.RequestTypeId" class="form-control" />
                <span asp-validation-for="Request.RequestTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.EmployeeId" class="control-label"></label>
                <input asp-for="Request.EmployeeId" class="form-control" />
                <span asp-validation-for="Request.EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.RequestCreatedByEmployeeId" class="control-label"></label>
                <input asp-for="Request.RequestCreatedByEmployeeId" class="form-control" />
                <span asp-validation-for="Request.RequestCreatedByEmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.From" class="control-label"></label>
                <input asp-for="Request.From" class="form-control" />
                <span asp-validation-for="Request.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.To" class="control-label"></label>
                <input asp-for="Request.To" class="form-control" />
                <span asp-validation-for="Request.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.Status" class="control-label"></label>
                <input asp-for="Request.Status" class="form-control" />
                <span asp-validation-for="Request.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Request.RequestAmount" class="control-label"></label>
                <input asp-for="Request.RequestAmount" class="form-control" />
                <span asp-validation-for="Request.RequestAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>*@

