@*
    **********************
    About Page
    **********************
*@
@{
    ViewData["Title"] = "About";
}

    <div class="text-center">
        <h2 class="display-4">About the Project</h2>
        <br />
        <div style="font-size:large">
            <p>This is a web application built as a final project submitted in partial fulfillment</p>
            <p>of the requirements for the degree of Higher Diploma in Science in Computing</p>
            <p>at</p>
            <p>Technological University Dublin</p>
            <p>Blanchardstown Campus</p>
            <p>Dublin, Ireland</p>
            <p>19 May 2020</p>
        </div>
    </div>