@*
    **********************
    Home Page
    **********************
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Holiday Tracker</h2>
    <p>Please feel free to register your company</p>
</div>