@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .img-container {
            text-align: center;
            width: 100%;
            height: auto;
            max-height: 800px;
            object-fit: cover;
            vertical-align: middle;
        }
    </style>

<div class="text-center">
    <h2 class="display-4">Home Page</h2>
    <p>This is the Home Page.</p>
</div>

<div class="img-container">
    <img src="~/images/home/person-with-toy-airplane-on-world-map-3769138.jpg" alt="map of the world" />
</div>