@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .img-container {
            text-align: center;
            width: 100%;
            height: auto;
            max-height: 800px;
            object-fit: cover;
            vertical-align: middle;
        }
    </style>

    <div class="text-center">
        <h2 class="display-4">Welcome to Holiday Tracker</h2>
        <p>Please feel free to register your company</p>
    </div>