@*
    **********************
    Home Page
    **********************
*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Holiday Tracker</h2>
    <h3>Please feel free to register your company</h3>
</div>