@*
    **********************
    Privacy Page
    **********************
*@
@{
    ViewData["Title"] = "Policy";
}

<div class="text-center">
    <h2 class="display-4">OUR PRIVACY POLICY</h2>
    <p>Holiday Tracker collects a variety of information that you provide directly to us. We process your information when necessary
        to provide you with the Services that you have requested when accepting out Terms of Service, or where we have obtained your prior consent,
        or where we have a legitimate interest to do so. For example, we may have a legitimate interest to process your information for security, testing, maintenance,
        and enhancement purposes of the Services we provide to you, or for analytics, research, and reporting purposes. Without your information, we cannot provide you
        with the Services you have requested or you may be limited in your use of the Services.</p>
</div>
