@page
@model HolidayTracker.Views.Companies.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Company</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Company.Id" />
            <div class="form-group">
                <label asp-for="Company.CompanyName" class="control-label"></label>
                <input asp-for="Company.CompanyName" class="form-control" />
                <span asp-validation-for="Company.CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.Address" class="control-label"></label>
                <input asp-for="Company.Address" class="form-control" />
                <span asp-validation-for="Company.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.PhoneNumber" class="control-label"></label>
                <input asp-for="Company.PhoneNumber" class="form-control" />
                <span asp-validation-for="Company.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactEmail" class="control-label"></label>
                <input asp-for="Company.ContactEmail" class="form-control" />
                <span asp-validation-for="Company.ContactEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company.ContactName" class="control-label"></label>
                <input asp-for="Company.ContactName" class="form-control" />
                <span asp-validation-for="Company.ContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

