
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h2 class="display-4">This is The Approver Page</h2>
        <p>Employees' requests will be displayed here.</p>
        <p>Approver will be able to approve requests or reject them.</p>
    </div>


